<div class="group group-hover:scale-115 transform easing-in-out duration-150 group-hover:transition-all bg-[#{{ include.color }}] hover:rotate-6 transition-all duration-300 aspect-square rounded-2xl flex flex-col justify-between items-start p-5">
  <p class="font-bold text-left xl:text-2xl mb-3">
  {{ include.title }}
  </p>
  <a href="#" class="text-white/50 hover:bg-white hover:text-[#{{ include.color }}] rounded-full px-4 py-2 text-sm uppercase font-bold border border-white/30">
	Add
  </a>
</div>
