  <section class="px-5">
	<div class="bg-[#FBEFCA] rounded-3xl md:rounded-[3em] p-10 overflow-hidden md:py-28 max-w-7xl md:px-20 mx-auto text-slate-800">

	  <h2 class="text-center  font-bold text-3xl md:text-5xl mx-auto max-w-xl">
		We do most of <span class="text-rose-500">the work for you</span>
	  </h2>

	  <div class="grid lg:grid-cols-5 place-items-center gap-5 py-10 md:py-28">
		<div class="lg:col-span-2">
		  <p class="text-3xl mx-auto text-left lg:text-5xl font-bold mb-5 max-w-xl"> You just need to add the sources you <span class="text-rose-500">want to track</span></p>

		  <ul class="flex gap-2 flex-wrap text-xl justify-center lg:justify-start">
			<li class="bg-[#6B69F2] px-6 py-2 font-bold rounded-full text-white">Website</li>
			<li class="bg-[#E44444] px-6 py-2 font-bold rounded-full text-white">Youtube Channel</li>
			<li class="bg-[#A33FB0] px-6 py-2 font-bold rounded-full text-white">Intagram Profile</li>
			<li class="bg-[#EC6D72] px-6 py-2 font-bold rounded-full text-white">Blog</li>
			<li class="bg-[#E87E01] px-6 py-2 font-bold rounded-full text-white">RSS Feed</li>
			<li class="bg-[#FBB604] px-6 py-2 font-bold rounded-full text-white">Atom Feed</li>
		  </ul>
		</div>
		<div class="lg:col-span-3 relative">
		  <img alt="Cursor" src="/assets/images/cursor.png" srcset="/assets/images/cursor@2x.png 2x" class="absolute bottom-10 right-12 cursor"/>
		  <img alt="Add the sources you want to track" src="/assets/images/add-site.png" srcset="/assets/images/add-site@2x.png 2x" class="w-full"/>
		</div>
	  </div>


	  <div class="grid lg:grid-cols-5 place-items-center gap-10 py-10 lg:py-32">
		<div class="lg:col-span-2">
		  <p class="text-5xl mx-auto text-center lg:text-left lg:text-5xl  font-bold max-w-xl">We’ll <span class="text-rose-500">actively️ monitor</span> all the sources you’re added</p>
		</div>

		<div class="relative lg:col-span-3">

		  <div class="absolute top-1/3 -translate-y-1/2 -translate-x-1/2 left-1/2 " >
			<span class="flex relative h-96 w-96">
			  <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-rose-400 opacity-75"></span>
			  <span class="relative inline-flex rounded-full h-96 w-96 bg-rose-500"></span>
			</span>
		  </div>

		  <div class="relative">
			<img alt="Searching new articles" src="/assets/images/search.png" srcset="/assets/images/search@2x.png 2x" class="absolute top-1/3  search" />
			<img alt="We’ll actively️ monitor all the sources you’re added" src="/assets/images/sources.png" srcset="/assets/images/sources@2x.png 2x" class="mb-10" />
			<img alt="New articles" src="/assets/images/new-articles.png" srcset="/assets/images/new-articles@2x.png 2x" class="mx-auto" />
		  </div>

		</div>
	  </div>

	  <div class="grid lg:grid-cols-5 place-items-center gap-10 py-10 md:py-32">
		<div class="lg:col-span-2">
		  <p class="text-5xl mx-auto text-center lg:text-left lg:text-5xl font-bold max-w-xl">And generate <span class="text-rose-500">one email</span> with <span class="text-rose-500">new posts</span></p>
		</div>

		<div class="lg:col-span-3 relative">

		  <span class="absolute top-16 right-10">
			<span class="flex relative h-20 w-20">
			  <span class=" absolute inline-flex h-full w-full rounded-full bg-rose-400 opacity-75"></span>
			  <span class="relative inline-flex rounded-full h-20 w-20 bg-rose-500 justify-center items-center font-bold text-white text-4xl">1</span>
			</span>
		  </span>

		  <img alt="One email with new posts" src="/assets/images/mail.png" srcset="/assets/images/mail@2x.png 2x" class="w-full"/>
		</div>
	  </div>

	  <div class="text-center max-w-2xl mx-auto">
		<p class="font-bold mb-10 text-4xl md:text-5xl">Save your energy and time for something meaningful</p>
		{% include btn-cta.html %}
	  </div>

	</div>
  </section>
