<section class="max-w-7xl mx-auto px-5 py-20 md:pb-32 text-white">

  <h2 class="text-center font-bold text-4xl md:text-5xl mx-auto max-w-xl mb-20 md:mb-32">Briefcake is made for you if you are looking for...</h2>


  <div class="grid lg:grid-cols-3 gap-10">

	<div class="bg-[#6B69F2] flex flex-col gap-5 md:gap-10 p-5 md:p-10 rounded-3xl"> 
	  <img alt="Digital Wellness" src="/assets/images/wellness.png" srcset="/assets/images/wellness@2x.png 2x" class="self-start w-1/3 md:w-auto" />

	  <div>
		<h3 class="font-bold text-3xl mb-3">Digital <br/>Wellness</h3>
		<p>Have less social media to regain your real life</p>
	  </div>
	</div>

	<div class="bg-[#6B69F2] flex flex-col  gap-5 md:gap-10 p-5 md:p-10 rounded-3xl"> 
	  <img alt="Peaceful tranquility" src="/assets/images/peaceful.png" srcset="/assets/images/peaceful@2x.png 2x" class="self-start w-1/3 md:w-auto"  />
	  <div>
		<h3 class="font-bold text-3xl mb-3">Peaceful <br/>tranquility</h3>
		<p>Read when it's convenient. Just one email a day with all the updates</p>
	  </div>
	</div>

	<div class="bg-[#6B69F2] flex flex-col  gap-5 md:gap-10 p-5 md:p-10 rounded-3xl"> 
	  <img alt="Staying in the loop" src="/assets/images/loop.png" srcset="/assets/images/loop@2x.png 2x" class="self-start w-1/3 md:w-auto" />
	  <div>
		<h3 class="font-bold text-3xl mb-3">Want to staying in the loop</h3>
		<p>Don't worry. Everything that is important to you will come to your inbox</p>
	  </div>
	</div>
	  
  </div>

</section>
