<section class="py-20 md:py-32 text-white">

	<div class="max-w-7xl text-2xl text-left mx-auto px-5">
	  <h2 class="text-center font-bold text-4xl md:text-5xl mx-auto max-w-xl mb-20 md:mb-32">We made sure it was easy to populate your digest</h2>

	  <div class="grid md:mb-32 lg:grid-cols-3 gap-10">

		<div class="bg-[#6B69F2] flex  flex-col gap-2 p-10 rounded-3xl"> 
		  <div class="grow  mb-5">
			<h3 class="font-bold text-3xl">Browsers Extensions</h3>
			<p class="">Add sites to your digest with 1 click</p>
		  </div>
		  <div class="flex flex-col gap-3">
			<a href="#" class="flex gap-3 items-center">
			  <img alt="Extension for Google Chrome" src="/assets/images/chrome.png" srcset="/assets/images/chrome@2x.png 2x" />
			  Google Chrome
			</a>
			<a href="#" class="flex gap-3 items-center">
			  <img alt="Extension for Firefox" src="/assets/images/firefox.png" srcset="/assets/images/firefox@2x.png 2x" />
			  Firefox
			</a>
		  </div>
		</div>

		<div class="bg-[#6B69F2] flex flex-col gap-2 p-10 rounded-3xl"> 
		  <div class="grow mb-5">
			<h3 class="font-bold text-3xl">Bookmarklet</h3>
			<p class="">For any browser. Even for Internet Explorer</p>
		  </div>
		  <a href="#" class="flex gap-2 items-center">
			How to install
			<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M13 7l5 5m0 0l-5 5m5-5H6" /> </svg>
		  </a>
		</div>


		<div class="bg-[#6B69F2] flex flex-col gap-2 p-10 rounded-3xl"> 
		  <div class="grow mb-5 lg:mb-20">
			<h3 class="font-bold text-3xl">Import from RSS/Atom/JSON feeds</h3>
			<p class="">Don't start from scratch</p>
		  </div>
		  <a href="#" class="flex gap-2 items-center">
			How to import 
			<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M13 7l5 5m0 0l-5 5m5-5H6" /> </svg>
		  </a>
		</div>
		  
		</div>

		<p class="text-center leading-relaxed font-bold text-4xl md:text-5xl mx-auto max-w-2xl mb-20 md:mb-32">If something catches your eye, add the article or video to your <a href="" class="mx-4 inline-flex gap-3 items-center text-rose-400 hover:text-rose-500">
<svg width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.49894 0.00390625C1.31951 0.14594 0 1.39012 0 3.60304V16.8557C0 27.6198 10.7057 36.079 19.9666 36.0122C30.38 35.9371 40.0001 27.1438 40.0001 16.8557V3.60304C40.0001 1.38177 38.5972 0.129151 36.401 0.00390625H3.49894ZM11.9332 10.7847L19.9666 18.4173L28.0084 10.7847C31.6075 9.27325 33.1775 13.3818 31.6994 14.5843L21.2276 24.5801C20.8853 24.9058 19.0564 24.9058 18.7141 24.5801L8.24225 14.5842C6.83089 13.2565 8.66808 9.08111 11.9332 10.7847Z" fill="currentColor"/>
</svg>
Pocket  
		</a>right from your digest</p>

	</div>

</section>
