<h2 id="bookmarklet" class="font-bold text-4xl scroll-mt-16">Bookmarlet</h2>

<p class="mb-16">Briefcake uses bookmarklets for browser integration. Bookmarklets are little javascript links that live in the bookmarks toolbar of your
browser. It's a safe and easy way to add new sites to your feed.</p>

<h4 class="text-2xl font-bold mb-3">How to add bookmarklet to your browser</h4>

<div>
  <ul class="list-decimal list-outside ml-8 space-y-3">
	<li>Turning on Favourite bar.
	  <ul class="space-y-2 mt-2">
		<li>Safari: <i class="bg-slate-100 px-1 py-0 rounded-md inline-block">View</i> &gt; <i class="bg-slate-100 px-1 py-0 rounded-md inline-block">Show Favourites Bar</i></li>
		<li>Google Chrome: <i class="bg-slate-100 px-1 py-0 rounded-md inline-block">View</i> &gt; <i class="bg-slate-100 px-1 py-0 rounded-md inline-block">Always Show Bookmarks Bar</i></li>
	  </ul>
	</li>
	<li>Drag "Briefcake" button up to your bookmarks toolbar. You can rename them to whatever you
	  like by right-clicking and choosing <i class="bg-slate-100 px-1 py-0 rounded-md inline-block">Edit name</i>
	  <div class="text-center my-10">
		<a class="p-1 border-2 border-dotted rounded-xl  block border-purple-500 shadow-xl shadow-purple-400/20 px-4 py-5 bg-purple-100 text-3xl hover:shadow-2xl hover:shadow-purple-500/30 hover:-translate-y-2 transition-all cursor-grab" href="javascript:q=location.href;if(document.getSelection){d=document.getSelection();}else{d='';};p=document.title;void(open('https://app.briefcake.com/feeds/new?url='+encodeURIComponent(location.href),'briefcake.com','toolbar=no,scrollbars=yes,width=1000,height=700'));">
		  <span>Briefcake</span>
		</a>
		<span class="text-sm text-center text-slate-600 animate-bounce block mt-5">Drag this button to the bookmarks bar ⤴</span>
	  </div>
	</li>
	<li>Open the site you want to add to your feed and click on the <i class="bg-slate-100 px-1 py-0 rounded-md inline-block">Briefcake</i> button in the favorite bar.</li>
  </ul>
</div>

<div class="mt-10">
  <p class="font-bold my-3">If you use Internet Explorer</p>
  <p class="">If you're using Internet Explorer, dragging won't work. Right-click on the bookmarklet
  instead,
  and select 'add to Favorites' at the prompt.</p>
</div>
