<h2 id="standard-formats" class="scroll-mt-16 font-bold mb-3 text-4xl">Import from standard formats</h2>
<p class=" mb-10"><a href="#" class="text-purple-500">Log in</a> to your briefcake account to Import or Export your feeds.</p>

<div class="grid lg:grid-cols-2 gap-10">
  <div>
	<h3 class="text-2xl font-bold mb-3">Import</h3>
	<p class="mb-3">You can import your feed directly to Briefcake. Supports popular feed formarts</p>
	<ul class="list-disc list-inside">
      <li>RSS</li>
      <li>Atom feed</li>
      <li>JSON feed</li>
      <li>OPML</li>
     </ul>
  </div>

  <div>
	<h3 class="text-2xl font-bold mb-3">Export</h3>
	<p>You can export your feed into an OPML file.</p>
  </div>

</div>
